* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background: #ddeeea; */
    /* background-image: url('./assets/Images_Portfolio/Home_pg_img.jpeg'); */
    color: #d6fff5;
}

/* @keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(45deg, #f06, #09f);
    background-size: 400% 400%;
    animation: moveBackground 7s ease infinite;
} */

body {
    background: #333;
}

header {
    height: 70px;
    top: 0;
    margin-bottom: 50px; ;
}

.nv {
    display: flex;
}

.Navbar {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 2rem;
    background: #373837;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 1000; 
}

.mainnavbar {
    display: flex;
    list-style: none;
}

.mainnavbar li a {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    padding: 1em 1em;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.mainnavbar li :hover {
    background-color: #434040;
    /* background-color: #209e83; */
}

.navbar-toggle {
    display: none;
    background: transparent;
    /* padding:1em;  */
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}

@media (max-width:880px) {
    .Navbar {
        background: #373837;
        backdrop-filter: none;
    }

    .nv .mainnavbar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: fixed;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(15px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        border-left: 2px solid rgba(255, 255, 255, 0.3);
        border-top-left-radius: 20px;
    }



    .nv .navbar-toggle {
        display: block;
        z-index: 1050;
    }

    .nv .mainnavbar.active {
        display: flex;
    }

    .nv .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nv .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .nv .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media (max-width:550px) {
    .Navbar {
        background: #1c1d1db0;
        backdrop-filter: none;
    }

    .nv .mainnavbar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: fixed;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(15px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        border-left: 2px solid rgba(255, 255, 255, 0.3);
        border-top-left-radius: 20px;
    }



    .nv .navbar-toggle {
        display: block;
        z-index: 1050;
    }

    .nv .mainnavbar.active {
        display: flex;
    }

    .nv .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nv .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .nv .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

.homeimg_description {
    display: flex;
    padding: 1em;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* text-align:center;  */
    /* flex-wrap:wrap;  */
}

.homeimg_description .home_des{
    display:flex; 
    flex-direction:column; 
}

.About p {
    font-size: 30px;
    font-weight: 500;
}

.contactform {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.mainContactContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mainContactContainer .contactform {
    width: auto;
    height: auto;
}

.mainContactContainer .contactform .actualform {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}